@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --radius: 0.25rem;
  --accent: oklch(0.37 0.04 355.12);
  --accent-foreground: oklch(0.205 0 0);
  --muted: #272325;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-text);
  --color-primary300: var(--color-primary-300);
  --color-primary400: var(--color-primary-400);
  --color-primary: var(--color-primary-500);
  --color-primary600: var(--color-primary-600);
  --color-primary700: var(--color-primary-700);
  --color-primary800: var(--color-primary-800);
  --color-primary900: var(--color-primary-900);
  --color-primary-contrast: var(--color-primary-contrast);
  --color-secondary300: var(--color-secondary-300);
  --color-secondary400: var(--color-secondary-400);
  --color-secondary: var(--color-secondary-500);
  --color-secondary600: var(--color-secondary-600);
  --color-secondary700: var(--color-secondary-700);
  --color-secondary800: var(--color-secondary-800);
  --color-secondary900: var(--color-secondary-900);
  --color-secondary-contrast: var(--color-secondary-contrast);

  --font-headline: var(--font-family-headline), system-ui, sans-serif;
  --font-sans: var(--font-family-primary), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);

  --color-input-placeholder: var(--color-input-placeholder);
  --color-input-border: var(--color-input-border);
  --color-input-background: var(--color-input-background);
  --color-input-label: var(--color-input-label);
  --color-input-hover-border: var(--color-input-hover-border);
  --color-input-hover-background: var(--color-input-hover-background);

  --color-popover-background: var(--color-popover-background);
  --color-popover-text: var(--color-popover-text);
  --color-popover-border: var(--color-popover-border);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-card: var(--muted);

  --color-ring: var(--ring);
  --color-border: var(--border);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: 0.64px;
  }
}

@layer utilities {
  .font-headline {
    font-family: var(--font-headline);
  }

  .font-primary {
    font-family: var(--font-sans);
  }
}

/* Estilos personalizados para el scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 4px;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--muted) var(--color-background);
}
